@font-face {
  font-family: "HMfont";         
  src: url("./styles/IM_Hyemin-Bold.otf"); 
}

body {
  margin: 0;
  font-family: "HMfont",  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
